@charset "UTF-8";

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
}

div{
    background-color: purple;
    padding: 20px;
    width: 300px;
}

button{
    cursor: pointer;
}