@charset "UTF-8";

@keyframes foto1{
    from{
        left: 0px;
    }

    to{
        left: -100%;
    }
}

@keyframes foto2{
    from{
        left: 0px;
    }

    to{
        left: -100%;
    }
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
}

div{
    display: flex;
    margin: auto;
    
    position: relative;
}

div, img{
    height: 100%;
    width: 100%;
}

div > img[alt=Foto-1]{
    animation-duration: 2s;
    animation-name: foto1;
    left: 0px;
    position: absolute;
}

div > img[alt=Foto-2]{
    animation-duration: 2s;
    animation-name: foto2;
    animation-delay: 2.1s;
}

