@charset "UTF-8";

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    padding: 30px 0px 0px 30px;
    width: 100vw;
}

div{
    background-color: #5846FF;
    height: 300px;
    transition-property: background-color, border-radius;
    transition-duration: 3s, .6s;
    /* transition-delay: 3s; */
    transition-timing-function: cubic-bezier(.7, 5, .220, .1);
    width: 300px;
}

div:hover{
    background-color: #dd3030;
    border-radius: 50%;
}