@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
}

div#container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.514);
    min-height: 250px;
    margin: auto;
    padding: 10px;
    width: 300px;
}

fieldset{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#operadores{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

#resultado > div{
    background-color: blue;
    border-radius: 10px;
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
}

#resultado > div > p{
    color: white;
}

legend{
    font-weight: bold;
    padding: 0px 8px;
}

p{
    margin: 10px 0px;
}

button{
    padding: 6px;
}