@charset "UTF-8";

@keyframes teste1{
    100%{
        transform: translate(calc(100vw - 110px), 0px);
    }
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, #a1b1ff, #1010ff);
    display: grid;   
    height: 100vh;
    place-items: center start;
    width: 100vw;
}

div > img{
    
    /* animation-name: teste1;
    animation-duration: 2s;
    animation-timing-function: linear;
    /* animation-delay: 1s; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: paused; */
    border-radius: 50%;
    height: 110px;
    width: 110px;

    animation: teste1 3s ease-in-out 6 2s forwards running;
}