@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
}

div{
    background-color: white;
    height: 300px;
    margin: auto;
    padding: 10PX;
    width: 300px;
}

p{
    margin: 10px 0px;
}