@charset "UTF-8";

@keyframes teste{
    0%{
        background-color: white;
        color: white;
    }

    10%{
        background-color: green;
        color: white;
    }

    20%{
        background-color: white;
        color: white;
    }

    30%{
        background-color: green;
        color: white;
    }

    40%{
        background-color: white;
        color: white;
    }

    50%{
        background-color: green;
        color: white;
    }

    60%{
        background-color: white;
        color: white;
    }

    70%{
        background-color: green;
        color: white;
    }

    80%{
        background-color: white;
        color: white;
    }

    90%{
        background-color: green;
    }

    95%{
        background-color: white;
        color: white;
    }

    100%{
        background-color: green;
        color: white;
    }
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
}

p{
    margin: 0px 0px 12px 0px;
}

button{
    background-color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}