@charset "UTF-8";

@keyframes teste{
    0%{
        background-color: rgba(57, 54, 50, 92);
    }

    20%{
        background-color: rgb(2, 112, 2);
    }

    40%{
        background-color: rgb(4, 4, 126);
    }

    60%{
        background-color: rgb(121, 8, 8);
    }

    80%{
        background-color: purple;
    }

    100%{
        background-color: darkorange;
    }
}

*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    align-items: center;
    background-color: rgba(57, 54, 50, 92);
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100vw;
    animation: teste 2s linear infinite;
    animation-delay: 5s ;
}