@charset "UTF-8";

body{
    background-color: gray;
    font-family: sans-serif;
}

div{
    background-color: green;
    /* position: relative;
    z-index: 1; */

    button{
        cursor: pointer;
        /* position: relative;
        z-index: 2; */
    }
}